* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, sans-serif;
}

.new-register {
  padding: 0.5rem;
  background-color: #334df9;
  color: #fff;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: all ease 0.2s;
}

.new-register:hover {
  opacity: 1;
}

th {
  padding: 0.5rem 1rem;
  background-color: #213435;

  color: #fff;
  border: none;
}

tbody tr:nth-child(2n) {
  background: #ccc;
}

td {
  color: #000;
  padding: 0.5rem 1rem;
}

.action-buttons button {
  cursor: pointer;
  margin: 0 2px;
}

.action-buttons button:hover {
  background-color: #213435;
  color: #fff;
  border-radius: 2px;
  border: 2px solid #213435;
}

h1 {
  width: 100%;
  text-align: center;
  color: #334df9;
}

.form-active,
.form-edit {
  width: 50%;
  margin: 1rem auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.5rem 0;
  font-weight: bold;
}

.button-form {
  padding: 0.5rem;
  background-color: #334df9;
  color: #fff;
  border: none;
  margin: 1rem 0;
  cursor: pointer;
  opacity: 0.8;
  transition: all ease 0.2s;
}

.button-form:hover {
  opacity: 1;
}

.container {
  width: 50%;
  margin: 1rem auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 1rem;
}
